@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.left {
  margin-right: 58px;
}
.section_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_container {
  width: 1220px;
  display: flex;
  flex-direction: column;
  padding: 20px;

}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 446px;
  font-size: 14px;
  margin-bottom: 32px;
  padding: 10px;
}

.main__title {
width: 72px;
height: 22px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #000000;
margin-bottom: 28px;
}

.table_main {
  display: flex;
  flex-direction: column;
  width: 1185px;
  margin: 0 auto;


}

.table_head {
  background-color: #FAFAFC;
  height: 36px;
  width: 1185px;
  display: flex;

  justify-content: space-between;

  
}
.table_th {
  width: 250px;
align-items: center;
padding: 0px;
width: 250px;
height: 16px;

}


.info {
  height: 62px;
}

.side-bar{ 
  border-radius: 16px; 
  height: 938px; 
  width: 98px; 
  background-color:#266AEB; 
  margin-top: 32px; 
  margin-left: 30px; 
} 
 
.side-bar-list img{ 
  height: 28px; 
  width: 28px; 
} 
 
.side-bar-logo{ 
  height: 40px; 
  width: 40px; 
  padding-top: 40px; 
  margin: auto; 
} 
 
.side-bar-list{ 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding-top: 120px; 
} 
 
.side-bar-list ul{ 
  margin: 12px; 
} 


.success__page{
  width:1136px;
  height: 564px;
   border-radius: 12px;
   background-color: white;
   display: flex;

   align-items: center;
   flex-direction: column;
  display: none !important;
}
.success__page-button{
   border: none;
   background-color: white;
   font-size: 18px;
   margin-right: 30px;
   margin-top: 30px;
}
.success__page-text-button{
   display: flex;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
   background-color: white;

}
.success__page-text1 {
color:  #266AEB;
margin-right: 892px;
margin-top: 30px;
margin-left: 30px;

   
}
.success__page img{
background-color: white;
margin-bottom: 48px;
margin-top: 54px;
}
.success__page p{
   background-color: white;
   font-family:"Open Sans" ;
   font-size: 20px;
   line-height: 22px;
}

.astranaut {
width: 303px;
left: 416px;
top: 106px;
border-radius: 0px;

}

.order-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1136px;
}

.order-container__search-box{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.search-box{
  width: 447px;
  height: 40px;
  font-size: 16px;
  padding: 12px;
  background: #FAFCFE;
  border: 1px solid #EDEFF1;
  border-radius: 10px;
}

.input-container{
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.search-icon{
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  transform: translateY(-50%);
}

.search-add-btn{
  width: 73px;
  height: 40px;
  background: #266AEB;
  border: none;
  border-radius: 8px; 
  color: #EDEFF1;
  font-size: 24px;
  font-weight: 600;
}

.hide{
  display: none;
}

@media only screen and (min-width: 390px) and (max-width: 767px) {
.mobile  {
  flex-direction: column;
 }

}
