* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.main_container {
  width: 1220px;
  display: flex;
  flex-direction: column;
  padding: 20px;

}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 446px;
  font-size: 14px;
  margin-bottom: 32px;
}

.main__title {
width: 72px;
height: 22px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #000000;
margin-bottom: 28px;
}

.table_main {
  display: flex;
  flex-direction: column;
  width: 1185px;
  margin: 0 auto;


}

.table_head {
  background-color: #FAFAFC;
  height: 36px;
  width: 1185px;
  display: flex;

  justify-content: space-between;

  
}
.table_th {
  width: 250px;
align-items: center;
padding: 0px;
width: 250px;
height: 16px;

}


.info {
  height: 62px;
}

@media only screen and (min-width: 390px) and (max-width: 767px) {
  /* Styles... */
}
